@model IEnumerable<TeChineoTuLomito.WebApplication.Models.Empleado>

@{
    ViewData["Title"] = "Lista de Empleados";
}

<h1>Lista de Empleados</h1>

<p>
    <a asp-action="Create">Agregar Empleado</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div class="form-group">
                <input name="criterioBusqueda" class="form-control me-1" type="search" placeholder="Buscar" />
                <button type="submit" value="Buscar" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioDiario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRetiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEmpleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioDiario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRetiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEmpleado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { cedula = item.Cedula }) |
                @Html.ActionLink("Detalles", "Details", new { cedula = item.Cedula }) |
                @Html.ActionLink("Eliminar", "Delete", new { cedula = item.Cedula })
            </td>
        </tr>
}
    </tbody>
</table>
