@model Proyecto1.WebUI.Models.Mascota

@{
    ViewData["Title"] = "Borar Mascota";
}

<h1>Borrar Mascota</h1>

<h3>¿Esta seguro que desea eliminar este registro?</h3>
<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimaAtencion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimaAtencion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoContacto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.Hidden("cedulaContacto", Model.CedulaContacto)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista de mascotas</a>
    </form>
</div>
