@model Proyecto1.WebUI.Models.Procedimiento

@{
    ViewData["Title"] = "Eliminar Procedimiento";
}

<h1>Eliminar Procedimiento</h1>

<h3>¿Esta seguro que desea eliminar este Procedimiento?</h3>
<div>
    <h4>Procedimiento</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10" hidden="hidden">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcedimiento!.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoProcedimiento!.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
