@model Proyecto1.WebUI.Models.Procedimiento

@{
    ViewData["Title"] = "Eliminar Procedimiento";
}

<h1>Eliminar Procedimiento</h1>

<h3>¿Esta seguro que desea eliminar este Procedimiento?</h3>
<div>
    <h4>Procedimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcedimiento!.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoProcedimiento!.Nombre)
        </dd>
        <dt class="col-sm-2">
            Precio
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:0.00}", Model.TipoProcedimiento!.Precio)
        </dd>
        <dt class="col-sm-2">
            Precio Final
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:0.00}",Model.PrecioFinal())
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.Hidden("id", Model.Id)
        <input type="submit" value="Eliminar" class="btn btn-danger" /> | 
        <a asp-action="Index">Volver a la lista de Procedimiento</a>
    </form>
</div>
