@model Proyecto1.WebUI.Models.Procedimiento

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles del procedimiento</h1>

<div>
    <h4>Datos del Procedimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMascota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcedimiento!.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoProcedimiento!.Nombre)
        </dd>
        <dt class="col-sm-2">
            Precio
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:0.00}", Model.TipoProcedimiento!.Precio)
        </dd>
        <dt class="col-sm-2">
            Precio Final
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:0.00}", Model.PrecioFinal())
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | 
    <a asp-action="Index">Volver a la lista de Procedimientos</a>
</div>
