@model IEnumerable<Proyecto1.WebUI.Models.Procedimiento>

@{
    ViewData["Title"] = "Lista de Procedimientos";
}

<h1>Lista de Procedimientos</h1>

<p>
    <a asp-action="Create">Agregar Procedimiento</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div class="form-group">
                <input name="criterioBusqueda" class="form-control me-1" type="search" placeholder="Buscar" />
                <button type="submit" value="Buscar" class="btn btn-primary">Buscar</button>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProcedimiento!.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Precio final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CedulaContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMascota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProcedimiento!.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @String.Format("{0:0.00}", item.PrecioFinal())
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
